<?php

/**
 * YAWIK Sentry Integration
 *
 * @see       https://github.com/yawik/sentry for the canonical source repository
 * @copyright https://github.com/yawik/sentry/blob/master/COPYRIGHT
 * @license   https://github.com/yawik/sentry/blob/master/LICENSE
 */

declare(strict_types=1);

namespace YkSentry;

/*
 * Configure your Sentry client.
 * See https://docs.sentry.io/error-reporting/configuration/?platform=php
 * for a list of available options.
 */
$sentryConfig = [
    // the DSN (public key) for the sentry server
    'dsn' => '',
];

/*
 * Do not change below
 */

return [
    'options' => [
        Options\ModuleOptions::class => [
            'options' => [
                'sentryConfig' => $sentryConfig,
            ],
        ],
    ],
];
